* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;

}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, textarea, button {
    display: inline;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
}
button{
    background-color: rgb(3, 3, 248);
    color:#ffffff;
}
button:hover {
    background-color: rgb(105, 105, 255);
}